.banner-img{
    width: auto;
    height: 430px;
    border-radius: .2rem;
}

.go-span{
    color: #ba1165;
}

.dr-banner{
    background-color: #004481;
}

.site-footer{
    background-color: #004481;
}